.Skills-bottom-content {
  display: grid;
  background-color: rgb(229, 227, 215);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
}
@media (max-width: 791px) {
  .Skills-bottom-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .Skills-bottom-content {
    grid-template-columns: 1fr;
    padding: 1rem 0;
    text-align: center;
  }
} ;
