* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* left sidebar */
.Home-left-sidebar {
  height: 100%;
  width: 5%;
  position: absolute;
  /* background-color: white; */
}

.Home-sidebar-content {
  display: grid;
  margin-top: 16rem;
  margin-left: 1rem;
  transform: rotate(-90deg);
  color: inherit;
}
.Home-sidebar-content:hover {
  cursor: pointer;
  /* transform: rotate(0deg);
  transition: all 10ms ease-out; */
  color: rgb(82, 81, 81);
}
/* top content */
.Home-column-top {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* div */
.Home-top-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
/* p */
.Home-top-context {
  font-size: 1.6rem;
  letter-spacing: 8px;
  margin: 20px auto;
}
.Home-main-hr {
  border-style: none none dotted none;
  width: 20%;
  height: 3rem;
  margin-left: 4rem;
  border-width: 6px;
}
/* bottom content */
.Home-column-bottom {
  display: flex;
  flex-direction: row;
  height: 20vh;
}
/* skills */
/* column skills */
.Home-column-2 {
  background-color: rgb(229, 227, 215);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
/* div skills */
.Home-skill-div {
  margin-right: 4rem;
}
/* p */
.Home-skill {
  padding-bottom: 0.9rem;
  font-size: 1.2rem;
}
.Home-skill-hr {
  width: 40%;
  border-top: dotted rgba(112, 112, 112);
  border-width: 5px;
  margin-left: 0.9rem;
}
.Home-skill-link {
  color: inherit;
}
.Home-skill-link:hover {
  color: rgb(82, 81, 81);
}
/* contact me */
.Home-column-3 {
  background-color: rgba(112, 112, 112);
  color: rgb(240, 240, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home-contact {
  padding-top: 1.9rem;
  font-size: 1.2rem;
}
.Home-contact-hr {
  width: 5%;
  border-top: dotted rgb(240, 240, 232);
  border-width: 5px;
  margin: 0;
}
/* topping */
.Home-topping {
  bottom: 5rem;
  left: 6rem;
  position: absolute;
  font-size: 12px;
  z-index: 999;
}
.Home-topping-context {
  line-height: 3;
}
/* media query */
@media (max-width: 900px) {
  .Home-column-bottom {
    display: inline;
  }
  .Home-column-3 {
    padding-bottom: 1.5rem;
  }
  .Home-column-2 {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Home-skill-div {
    margin: 0;
  }
  .Home-column-top {
    height: 100vh;
  }
  .Home-top-intro {
    font-size: 12px;
  }
  .Home-topping {
    font-size: 11px;
    top: 4rem;
    left: 0;
    position: relative;
  }
}
@media (max-width: 530px) {
  .Home-topping {
    margin-left: 3rem;
    margin-right: 1rem;
    font-size: 10px;
  }
  .Home-left-sidebar {
    height: 100%;
    width: 4%;
    font-size: 12px;
    /* background-color: white; */
  }
}
@media (max-width: 280px) {
  .Home-topping {
    bottom: -8rem;
  }
}
